@{
    Layout = "~/en/_SiteLayout.cshtml";
    Page.Title = "About Tangteck";
}
  <script>
  $(function() {
    $( "#tabs" ).tabs();    
  });  
  </script>
<p></p>
<hgroup class="title">
    <h1>@Page.Title</h1>
</hgroup>

<article style="width: 100%">
   <div id="tabs" style="border: 0px; background: #F8F8F8;">
       <ul style="border: 0px; background: #F8F8F8;">
           <li><a href="#tabs-1">About Tangteck</a></li>
           <li><a href="#tabs-2">Milestone</a></li>
       </ul>
       <div id="tabs-1" style="line-height: 1.9em;">
           <p >台技工業設備股份有限公司成立於1988年12月16日，秉持著"品質、服務、誠信、創新、環保"為永續經營之理念，隨著近年來電子產業技術層次迅速的提昇，台技本著不斷自我要求以超越自我；研發創新以力求設備之高品質及專業技術服務之觀念，服務廣大的客戶群。
                 近二十年來，台技主力產品已行銷至世界十國以上，開拓行銷海外之市場；對產品設備不斷研發創新，所累積之豐富經驗及技術，已建立良好口碑，更受台灣及海外客戶所肯定。</p>
            <p>未來，台技將持續致力於產品研發、創新、人才培育，以不斷創新研發的精神，對未來做最好的準備。結合各方學、產、研界之力量，貢獻台技之專長，共同提升熱能應用技術，達世界水準。</p>
       </div>
       <div id="tabs-2">
            <table style="width: 100%" border="20" cellspasing="0" cellpadding="0">
        <tr>   
            <td>
                <p>1988</p>
            </td>
            <td>
                <p>Tangteck Equipment Inc. was founded</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>1989</p>
            </td>
            <td>
                <p>New factory in Chung Li Shih was set up.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>1990</p>
            </td>
            <td>
                <p>Furnace contort software with temperature profiling function were developed.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>1991</p>
            </td>
            <td>
                <p>New reflow furnace with belt and chain rail system for transportation was developed.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>1992</p>
            </td>
            <td>
                <p>Factory was expanded.</p>
                <p>Firing furnace for hybrid circuit manufactory was developed.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>1995</p>
            </td>
            <td>
                <p>Thermotracker PRO-1000 was developed</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>1996</p>
            </td>
            <td>
                <p>Patent of improved conveyor system for reflow furnace were certified by Japan</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>1998</p>
            </td>
            <td>
                <p>Firing furnace with 36” belt width was developed</p>
                <p>Technical transfer of multi-loop controller from U.K. was done and was manufactured in Tangteck successfully</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>1999</p>
            </td>
            <td>
                <p>Patent on belt and chain rail transportation was certified by USA</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>2001</p>
            </td>
            <td>
                <p>High temperature blower was developed and proceeded with mass production.</p>
                <p>GRC heater repair process for IC FAB was developed</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>2002</p>
            </td>
            <td>
                <p>SVG heater repair process for IC diffusion furnace was developed</p>
                <p> THERMOTRACKER PRO-600 with 105° working temperature was developed</p>
                <p>VMU &VMM Heater repair process for IC diffusion furnace were developed</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>2003</p>
            </td>
            <td>
                <p>Ceramic Panel Heater production was developed</p>
                <p>12 loops THERMOTRACKER for wafer T/C was developed. </p>
                <p>Temperature profile system for surface finishing process was developed.</p>
                <p>Patent on exhausting design for furnaces was certified by Taiwan and USA.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>2004</p>
            </td>
            <td>
                <p>The construction of new factory begins.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>2005</p>
            </td>
            <td>
                <p>New factory (Dayuan Plant )commenced production in 2005</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>2006</p>
            </td>
            <td>
                <p>N2 gastight devise was developed</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>2007</p>
            </td>
            <td>
                <p>Patent on N2 gsstight devise was certified by Taiwan</p>
                <p>New 2007 model N2 reflow </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>2008</p>
            </td>
            <td>
                <p>Firing furnace for electrode on solar cell wafer was developed </p>
                <p>N2 Roll to Roll continuous curing furnace for Flexible PCB substrate</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>2009</p>
            </td>
            <td>
                <p>High Temperature Batch Type Oven was developed</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>2010</p>
            </td>
            <td>
                <p> High Temperature N2 Firing Furnace (Muffle Firing Furnace) was developed</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>2011</p>
            </td>
            <td>
                <p> CIGS Selenization Furnace was developed</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>2012</p>
            </td>
            <td>
                <p>完成硒化銅銦镓薄膜太糃能電池硒化長晶爐設備及其製程技術開計畫</p>
                <p>榮獲經濟部 業界開發產業技術計畫 卓越產業升級獎</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>2013</p>
            </td>
            <td>
                <p>完成連式PI膜漂浮式爐之開發</p>
                <p>完成真空垂直式爐之開發</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>2014</p>
            </td>
            <td>
                <p>完成氧氣分析儀技術開發</p>
                <p>完成大型太陽能CIGS硒化爐(硒化銅銦鎵薄膜製程用)開發</p>
            </td>
        </tr>
    </table>
       </div>
   </div>
</article>

<!--<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>-->