@{
	string name = "ProWin2";
	string path1 = "/Images/products/prowin1.png";
	string path2 = "";
	
	Layout  = "~/en/_SiteLayout.cshtml";
	Page.Title = name;
}

<html lang="en">
	<head>
		<meta charset="utf-8">
		<!--關鍵字-->
	</head>
	<body>
        <div class="side-bar">
            <ul>
                <li><a href="products.cshtml">← Back to Menu</a></li>
                @{
                    Database connect = Database.Open("RazorWeb");
                    var data = connect.Query("select * from products_en").ToArray();
                    foreach(var i in data)
                    {
                        <li><a href="product.cshtml?ID=@i.ID">@i.Name</a></li>
                    }
                }    
                <li><a href="thermotracker.cshtml">THERMOTRACKER®</a></li>
                <li><a href="prowin2.cshtml"> 	THERMOTRAKER control software </a></li>
                <li><a href="other.cshtml">Others</a></li>        
            </ul>
        </div>
		<div class="content-wrapper clear-fix">
			<div class="page-header clear-fix">
				<div class="page-header-left">
					<h1>@name</h1>
					<ul class="bread-crumb">
						<li>
							<a href="~/en/products.cshtml">Products</a>/ @name
						</li>
					</ul>
				</div>
			</div>
			<div class="clear-fix" style="padding-top: 20px; padding-right: 10px;">
				<div class="content-left">
					<img src="@path1" width="100%">
					<p></p>
					<!--<img src="@path2" width="100%">-->
				</div>
				<div class="content-right" style="font-size: 16px; line-height: 1.9em;">
					<article style="width: 100%">
						<p>ProWin2 is a control software to connect computer and THERMOTRACKER&reg;.
							 Provide Engilish/Chinese(traditional) or English/Japanse.</p>
						<br>
						<h4>Profiler services:</h4>
						<p>1.Internal temperature and battery voltage monitoring<br />2.Profile data downloading (from profiler to pc)<br />3.Sample rate setting</p>
						<h4>Profiler calibrating:</h4>
						<p>1.Real-time temperature scan (profiling) <br>2.Temperature profile analyzing and report generating</p>
						<h4>Analyze data:</h4>
						<table style="width: 100%" border="20" cellspasing="0" cellpadding="0">
							<tr>
								<td>
									<p>Sensor Information</p>
								</td>
								<td>
									<p>Sensor location, name, product size, moving direction, and picture can be input</p>
								</td>
							</tr>
							<tr>
								<td>
									<p>Process Data</p>
								</td>
								<td>
									<p>Belt or chain rail speed, company name, product name and remark can be input</p>
								</td>
							</tr>
							<tr>
								<td>
									<p>Zone Information</p>
								</td>
								<td>
									<p>Type in starting time, zone temperature, and spacing</p>
								</td>
							</tr>
							<tr>
								<td>
									<p>Max and Threshol Temperature</p>
								</td>
								<td>
									<p>It shows the time when maximum temperature occur and the time higher then particular temperature  </p>
								</td>
							</tr>
							<tr>
								<td>
									<p>Cursor</p>
								</td>
								<td>
									<p>Used to analyze the heating rate or cooling rate of the profile</p>
								</td>
							</tr>
							<tr>
								<td>
									<p>Temperature List</p>
								</td>
								<td>
									<p>Shows actual temperature of every sensor at the selected time </p>
								</td>
							</tr>
							<tr>
								<td>
									<p>Print Report</p>
								</td>
								<td>
									<p>Print the profile report  </p>
								</td>
							</tr>
                            <tr>
                                <td>
                                    <p>SMT Check</p>
                                </td>
                                <td>
                                    <p>ProWin2 can compare the profile with the specification based on customer setting and determinate the profile is OK or NG automatically </p>
                                </td>
                            </tr>
						</table>
						<p>&nbsp;</p>
					<article style="width: 100%">
				</div>
			</div>
		</div>
	</body>
</html>

