@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "聯絡我們";
}

<hgroup class="title">
    <h1>@Page.Title</h1>
    <h2></h2>
</hgroup>

<section class="contact">
    <header>
        <h3>連絡電話:</h3>
    </header>
    <p>
        <span class="label">電話:</span>
        <span>886-3-386-7575 </span>
    </p>
    <p>
        <span class="label">業務部分機:</span>
        <span>333或332</span>
    </p>
    <p>
        <span class="label">傳真:</span>
        <span>886-3-386-6955</span>    
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <!--<span class="label">Email</span>-->
        <span><a href="mailto:service@tangteck.com?subject=客戶網頁回函&amp;body=公司:       電話:       傳真:       聯絡人:      ">service@tangteck.com</a></span>
    </p>
    <!--<p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@example.com">Support@example.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>-->
</section>

<section class="contact">
    <header>
        <h3>地址:</h3>
    </header>
    <p style="font-family:Microsoft JhengHei UI">
        
        台灣桃園縣大園鄉<br />
        水源路913號
    </p>
</section>