@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <a href="~/zh-tw/Default.cshtml">中文</a>
        <a href="~/ja/Default.cshtml">日本語で</a>
        <a href="~/en/Default.cshtml">English</a>
    </body>
</html>
