@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <script type="text/javascript">
            var type=navigator.appName
            if (type=="Netscape")
            {
                var lang = navigator.language
            }
            else
            {
                var lang = navigator.userLanguage
            }
            //取得瀏覽器語言的前兩個字母
            var lang = lang.substr(0,2)
            // 中文 - 不分繁體和簡體
            if (lang == "zh")
            {
                window.location.href="/zh-tw/Default.cshtml"
            }
            // 日文
            else if (lang == "ja")
            {
                window.location.href="/ja/Default.cshtml"
            }
            // 英文及其他
            else
            {
                window.location.href="/en/Default.cshtml"
            }
        </script>

        <a href="~/zh-tw/Default.cshtml">中文</a>
        <a href="~/ja/Default.cshtml">日本語で</a>
        <a href="~/en/Default.cshtml">English</a>
    </body>
</html>
