@{
    Layout = "~/zh-tw/_SiteLayout.cshtml";
    Page.Title = "Home Page";
    string path1 = "/Images/banner_slick1.jpg";
	string path2 = "/Images/banner_slick2.jpg";
    string path4 = "/Images/bottom_slick1.jpg";
    string path5 = "/Images/bottom_slick2.jpg";
}

@section featured {
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css"/>
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.index-slick').slick({
            //dots: true,
            //infinite: true,
            arrows: false,
            autoplay: true,
            speed: 3000,
            fade: true,
            pauseOnHover: true,
            //cssEase: 'linear'
        });
    })
</script>
<section class="featured">
    <div class="content-wrapper">
        <div class="index-slick">
            <div>
                <img src="@path1" width="100%" height="100%">
            </div>
            <div>
                <img src="@path2" width="100%" height="100%">
            </div>
        </div>
    </div>
</section>
}


<ol class="round">
    <li class="dot">
        <h4>關於台技</h4>
        <div class="clear-fix">
            <div class="index-content-left">
                <p style="line-height: 1.9em;">台技工業設備股份有限公司成立於1988年12月16日，秉持著"<span style="color:blue; font-family: Microsoft JhengHei UI;">誠信、服務、品質、創新、環保</span>"為永續經營之理念。</p>
                 <a href="~/zh-tw/About.cshtml">Read more…</a>   
            </div>
            <div class="index-content-right">     
                <div>
                    <img src="@path5" width="100%" height="100%">
                </div>
            </div>
        </div>
    </li>
</ol>