@{
    Layout = "~/zh-tw/_SiteLayout.cshtml";
    Page.Title = "產品介紹";
}

@*@{
    Database db = Database.Open("RazorWeb");
    var selectedData = db.Query("select * from products");
    var grid= new WebGrid(source: selectedData);
    var dataArray = selectedData.ToArray();
    string content = null;
    string  path = null;    
    foreach(var raw in selectedData)
    {
        content = raw.Content;
        path = raw.Image1;
    }
}*@

<!DOCTYPE html>

<html lang="zh-tw">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <div class="product-page">
            <div class="page-Header">
                <h1 class="title">產品分類</h1>
            </div>
            <div class="product-class-table">
                <table width="100%" border="20" cellspazing="0" cellpadding="0" style="line-height: 1.9em;">
                    <tbody>
                        <tr>
                            <td style="text-align: center;" colspan="2" align="center" bgcolor="#182988">
                                <span style="color: #ffffff;">電子工業用爐</span>
                            </td>
                        </tr>
                        <tr>
                            <td   width="50%">
                                <a href="product.cshtml?ID=1">SMT無鉛製程熱風迴焊爐</a>
                            </td>
                            <td   width="50%">
                                <a href="product.cshtml?ID=2">SMT無鉛製程氮氣迴焊爐</a>
                            </td>    
                        </tr>
                        <tr>
                            <td   width="50%">
                                <a href="product.cshtml?ID=3">BGA/CSP製程迴焊爐</a>
                            </td>
                            <td   width="50%">
                                <a href="product.cshtml?ID=4">實驗室QA測試用迴焊爐</a>
                            </td>    
                        </tr>
                        <tr>
                            <td   width="50%">
                                <a href="product.cshtml?ID=5">乾燥爐</a>
                            </td>
                            <td   width="50%">
                                <a href="product.cshtml?ID=6">觸控面板玻璃烘烤用爐 </a>
                            </td>    
                        </tr>
                        <tr>
                            <td   width="50%">
                                <a href="product.cshtml?ID=7">FPCB/PCB烘烤</a>
                            </td>
                            <td   width="50%">
                                <a href="product.cshtml?ID=8">高分子厚膜PTF連續式烘烤/加熱用爐</a>
                            </td>    
                        </tr>
                        <tr>
                            <td   width="50%">
                                <a href="product.cshtml?ID=9">高溫連續式厚膜燒成爐</a>
                            </td>
                            <td   width="50%">
                                <a href="product.cshtml?ID=10">高溫氮氣燒成爐</a>
                            </td>    
                        </tr>
                        <tr>
                            <td   width="50%">
                                <a href="product.cshtml?ID=13">高溫箱型爐</a>
                            </td>
                            <td   width="50%">
                                <a href="product.cshtml?ID=12">生物醫學用爐血糖試片烘烤用爐</a>
                            </td>    
                        </tr>
                        <tr>
                            <td   width="50%">
                                <a href="product.cshtml?ID=11">太陽能板電極燒成爐</a>
                            </td>
                            <td   width="50%">
                                <!--<a href="CIGS.cshtml">硒化銅銦鎵薄膜太陽能電池硒化長晶爐設備</a>-->
                                <a href="product.cshtml?ID=14">硒化銅銦鎵薄膜太陽能電池硒化長晶爐設備</a>
                            </td>
                        </tr>
                        <tr>
                            <td   width="50%">
                                <a href="product.cshtml?ID=15">客製化特殊規格用爐</a>
                            </td>
                            <td   width="50%">
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p></p>
                
                @*以下產品也許獨立建立*@
                <table width="100%" border="20" cellspazing="0" cellpadding="0" style="line-height: 1.9em;">
                    <tbody>
                        <tr>
                            <td style="text-align: center;" colspan="2" align="center" bgcolor="#182988">
                                <span style="color: #ffffff;">爐溫測試儀相關</span>
                            </td>
                        </tr>
                        <tr>
                            <td   width="50%">
                                <a href="thermotracker">測溫器</a>
                            </td>
                            <td   width="50%">
                                <a href="prowin2">測溫器ProWin2軟體</a>
                            </td>
                        </tr>
                        <tr>
                            <td   width="50%">
                                <a href="other">其他產品</a>
                            </td>
                            <td   width="50%">
                                <a href="Contact">若有高溫製程相關量測需求請點此來信</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
