@{
    Layout = "~/zh-tw/_SiteLayout.cshtml";
    //Page.Title = "產品介紹";    
}


<!DOCTYPE html>

<html lang="zh-tw">
    <head>
        <title></title>
    </head>
    <body>
		<h1>您的信件已成功送出</h1>
    </body>
</html>
