@{
    Layout = "~/ja/_siteLayout.cshtml";
}

  <style>
  .toggler { width: 500px; height: 200px; }
  #button { padding: .5em 1em; text-decoration: none; }
  #effect { width: 240px; height: 135px; padding: 0.4em; position: relative; }
  #effect h3 { margin: 0; padding: 0.4em; text-align: center; }

  .effeckt-demo-list-scroll > ul {
    width: 32%;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
  }

  .effeckt-list-scroll {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-perspective: 400px;
    perspective: 400px;
  }

  .effeckt-list-scroll {
    width: 230px;
    height: 480px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    list-style: none;
}

[data-effeckt-type="fade"] li {
    transition: opacity 250ms ease-in-out;
}

.effeckt-list-scroll > li {
    position: relative;
    z-index: 2;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.effeckt-list-scroll > li {
    color: #252525;
    font-size: 13.6px;
}
  </style>




@*<div class="side-bar" name="sidebar" id="sidebar">
    <ul>
        <li><a href="products.cshtml">← Back to Menu</a></li>
        @{
            Database connect = Database.Open("RazorWeb");
            var data = connect.Query("select * from products").ToArray();
            foreach(var i in data)
            {
                <li><a href="product.cshtml?ID=@i.ID">@i.Name</a></li>
            }
        }
        <li><a href="thermotracker.cshtml">THERMOTRACKER®</a></li>
        <li><a href="prowin2.cshtml"> 	THERMOTRAKER control software </a></li>
        <li><a href="other.cshtml">Others</a></li>  
    </ul>
</div>*@


@*<div class="right-bar" id="tranTarget">
  
  <button id="tranBtn">|||</button>
  
  <ul  class="">
    <li><a href="products.cshtml">← Back to Menu</a></li>
        @{
            Database db1 = Database.Open("RazorWeb");
            var res1 = db1.Query("select * from products_en").ToArray();
            foreach(var i in res1)
            {
                <li><a href="product.cshtml?ID=@i.ID">@i.Name</a></li>
            }
        }
        <li><a href="thermotracker.cshtml">THERMOTRACKER®</a></li>
        <li><a href="prowin2.cshtml"> 	THERMOTRAKER control software </a></li>
        <li><a href="other.cshtml">Others</a></li>  
  </ul>
</div> *@

<div class="effect-list-wrap right-bar" name="scroll" id="scroll">
  <ul  class="effeckt-list-scroll" data-effeckt-type='fade'>
    <li><a href="products.cshtml">← Back to Menu</a></li>
        @{
            Database db = Database.Open("RazorWeb");
            var res = db.Query("select * from products_en").ToArray();
            foreach(var i in res)
            {
                <li><a href="product.cshtml?ID=@i.ID">@i.Name</a></li>
            }
        }
        <li><a href="thermotracker.cshtml">THERMOTRACKER®</a></li>
        <li><a href="prowin2.cshtml"> 	THERMOTRAKER control software </a></li>
        <li><a href="other.cshtml">Others</a></li>  
  </ul>
  <button id="tranBtn">三</button>
</div>

<script>
  
  var tBtn = document.getElementById("tranBtn"); 

  var rBar = document.querySelector(".right-bar");

  var classBak = (!rBar) ? "" : rBar.className;

  var btnClassBak = (!tBtn) ?　"" : tBtn.className;

  if (!!tBtn) {

    tBtn.addEventListener("click", function () {

      if (!!rBar) {
      
        if (rBar.className.indexOf("active") != -1) {
        
          rBar.className = classBak;

          tBtn.className = btnClassBak; 

          tBtn.textContent = "三";

        } else {
        
          rBar.className += " active ";

          tBtn.className += " active ";

          tBtn.textContent = "X";
        }
      
      }

    });

  } else {
    console.log("Btn not found.");
  }
</script>