@{
    Layout = "~/ja/_siteLayout.cshtml";
}

<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <div class="css_table">
            <div class="css_tr">
                <div class="css_td">123</div>
                <div class="css_td">122</div>
                <div class="css_td">121</div>
                <div class="css_td">0.0.0</div>
                <div class="css_td">123</div>
                <div class="css_td">0.0.0</div>
                <div class="css_td">123</div>
                <div class="css_td">0.0.0</div>
                <div class="css_td">123</div>
                <div class="css_td">0.0.0</div>
                <div class="css_td">123</div>
                <div class="css_td">0.0.0</div>
                <div class="css_td">123</div>
                <div class="css_td">0.0.0</div>
                <div class="css_td">123</div>
                <div class="css_td">0.0.0</div>
                <div class="css_td">123</div>
            </div>
            <div class="tr">
                <div class="css_td">0.0.0</div>
                <div class="css_td">123</div>
            </div>
        </div>
    </body>
</html>
